{
  "version": "v5",
  "build": 5,
  "slot_a": {
    "filename": "app_slot_a.bin",
    "crc32": "0xCD71C62C",
    "size": 9884
  },
  "slot_b": {
    "filename": "app_slot_b.bin",
    "crc32": "0x821DD964",
    "size": 9884
  }
}
